*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    padding: 10px;
    background-color: #DAEAF1;
    border-bottom: 1px solid #cce6ff;
    text-align: center;
    overflow: hidden;
}

#menu p{
    color: #000000;
    font-size: large;
    text-decoration: none;
    font-family: cute;
    width: 700px;
    text-align: left;
}

#menu1 a{
    color: #000000;
    font-size: large;
    text-decoration: none;
    font-family: cute;
    width: 800px;
    text-align: center;   
}

#links a{
    display: inline;
    text-align: right;
    width: 700px;
}

.header{
    background-image: url(main.jpg);
    background-size: cover;
    width:1515px;
    height:720px;
    font-family: cute2;
    text-align: left;
    overflow: hidden;
    position: relative;
}

.header h1{
    display: inline;
    font-size: 2vw;
    padding: 10px;
    color: hsl(0, 0%, 0%);
    bottom: 65%;
    top: 10%;
    left: 15%;
    width: 1000px;
    text-align: left;
    position: absolute;
}

.header p{
    padding: 10px;
    color: rgb(0, 0, 0);
    bottom: 58%;
    left: 15%;
    position: absolute;
}

